*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Module build directories
app/build
core/data/build
core/model/build
core/network/build
core/ui/build
feature/article/build
feature/auth/build
feature/home/build
feature/mine/build
feature/navi/build
feature/project/build
feature/search/build
feature/wechat/build
